.login-container {
    position: relative;
    width: 100%;
    height: 100%;
    max-height: 100vh;
    max-width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f2f2f2;
}

.circle-top-left,
.circle-bottom-right {
    position: absolute;
    background-color: #ff7e7e;
    border: 16px solid #ea5454;
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.circle-top-left {
    width: 50rem;
    height: 50rem;
    top: -100px;
    left: -200px;
}

.circle-bottom-right {
    width: 20rem;
    height: 20rem;
    bottom: 0;
    right: 0;
}

.row-1 {
    height: 30%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    .row-1-image {
        width: 349px;
        height: 175px;
    }
}

.row-2 {
    width: 80%;
    height: 70%;
    background-color: white;
    border-radius: 4rem;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
    .btn-login {
        width: 100%;
        height: 32px;
        background-image: linear-gradient(to right, #ffd460, #f07b3f, #ea5455);
        border-radius: 8px;
        color: white;
        font-size: 16;
    }
    .login-title {
        font-size: 40px;
    }
    z-index: 1;
    box-shadow: #ffffff;
}
.row-3 {
    height: 20%;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.form-admin-login {
    width: 80% !important;
    .welcome-text {
        font-size: 18px;
        text-align: center;
    }

    .highlight-text {
        font-size: 32px;
        font-weight: bold;
        background-image: linear-gradient(to right, #f07b3f, #ffd460, #ea5455);
        -webkit-background-clip: text;
        color: transparent;
    }

    .welcome-logo {
        width: 60px;
        height: 60px;
        margin-right: 2px;
        object-fit: fill;
    }

    .welcome-p {
        font-size: 14px;
        font-weight: lighter;
        color: #888888;
    }

    .input-with-icon {
        position: relative;
    }

    .input-icon {
        position: absolute;
        left: 15px;
        top: 50%;
        transform: translateY(-50%);
        color: #888888;
    }

    .login-input {
        padding-top: 10px;
        padding-left: 40px;
    }
}

.login-background {
    position: relative;
    background-image: url('../../assets/images/MultiGameImage.png');
    background-size: cover;
    overflow: hidden;
    border-top-right-radius: 4rem;
    border-bottom-right-radius: 4rem;
}

.login-background::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right, rgba(255, 212, 96, 0.5), rgba(234, 84, 84, 0.5));
}

.background-content {
    width: 80%;
    z-index: 1;
}
.background-text {
    font-weight: bold;
    font-size: 36px;
    color: white;
}

.background-p {
    font-size: 14px;
    color: white;
}
