.content-wrapper-dashboard {
    width: 100%;
    min-height: 1px;
    display: flex;
    align-items: stretch;
    flex: 1 1 auto;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 2rem;

    .container-p-y {
        &:not([class^='pt-']):not([class*=' pt-']) {
            padding-top: 1.625rem !important;
        }

        &:not([class^='pb-']):not([class*=' pb-']) {
            padding-bottom: 1.625rem !important;
        }
    }

    .card-title-dashboard {
        margin-bottom: 0.825rem;
    }

    .text-primary-dashboard {
        font-size: 2rem !important;
        color: var(--primary);
    }

    .sumary-card {
        height: 15rem;
    }

    .avatar {
        position: relative;
        width: 3.375rem;
        height: 3.375rem;
        cursor: pointer;
        border-radius: 50px;
        display: inline-block;
        overflow: hidden;
        border-radius: 50px;
        img {
            width: 100%;
            height: 100%;
        }
    }

    .contest-summary-wrapper {
        padding-bottom: 0 !important;
        max-height: 330px !important;
    }

    .contest-summary-wrapper .col-md-4 {
        max-height: 320px;
        overflow-y: auto;
    }

    .contest-summary-wrapper .col-md-8 {
        max-height: 320px;
        overflow-y: auto;
    }

    .card-carousel {
        padding: 0 !important;
        display: inline-block !important;
        overflow: hidden !important;
        height: 200px;
        width: 100%;
        border-radius: 2rem;
    }

    .contest-summary-wrapper .col-md-4 .text-contest-header {
        background-color: white;
        position: fixed;
        z-index: 10;
    }
    .contest-sumary-card {
        border-right: 0.25px solid #cfcfcf;
    }

    .card-header {
        background-color: transparent;
        border-bottom: none;
    }

    .card-welcome {
        border-radius: 2rem !important;
    }

    .card {
        border-radius: 2rem !important;
    }

    .dashboard-banner {
        height: 15rem;
        background-image: url('../../assets/images/dashboard_banner_decor.png'),
            url('../../assets/images/dashboard_banner_decor.png');
        background-size: 50% 100%;
        background-position: right, left;
        background-repeat: no-repeat, no-repeat;
        background-color: #2d4059;
        border-radius: 2rem;
        // flex-wrap: wrap;

        .dashboard-banner-row {
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;

            .dashboard-banner-title {
                width: 60%;
                color: white;
                font-size: 40px;
                font-weight: bold;
                line-height: 40px;
                word-wrap: break-word;
                white-space: normal;
                text-align: center;
            }
        }

        .dashboard-banner-suptitle {
            width: 100%;
            color: white;
            font-size: 16px;
            line-height: 24px;
            text-align: center;
        }
    }

    .book-mark-1 {
        background-color: #e7e300;
        border-top-left-radius: 2rem;
        border-bottom-left-radius: 2rem;
        .triangle {
            width: 0;
            height: 0;
            border-top: 75px solid transparent;
            border-right: 105px solid white;
            border-bottom: 75px solid transparent;
        }
        .rank-top-game {
            font-size: 28px;
            font-weight: bolder;
            color: white;
        }
    }
    .book-mark-2 {
        background-color: #778899;
        border-top-left-radius: 2rem;
        border-bottom-left-radius: 2rem;
        .triangle {
            width: 0;
            height: 0;
            border-top: 75px solid transparent;
            border-right: 105px solid white;
            border-bottom: 75px solid transparent;
        }
        .rank-top-game {
            font-size: 28px;
            font-weight: bolder;
            color: white;
        }
    }
    .book-mark-3 {
        background-color: #80471c;
        border-top-left-radius: 2rem;
        border-bottom-left-radius: 2rem;
        .triangle {
            width: 0;
            height: 0;
            border-top: 75px solid transparent;
            border-right: 105px solid white;
            border-bottom: 75px solid transparent;
        }
        .rank-top-game {
            font-size: 28px;
            font-weight: bolder;
            color: white;
        }
    }
}
