.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    width: 100%;
    max-width: 100%;
    height: 1234px;
    padding: 0 var(--default-layout-horizontal-spacer);
    display: flex;
    margin-top: 50px;
}

.content {
    flex: 1;
}
