.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    width: 100%;
    min-height: 100vh;
    max-width: 100%;
    padding: 0 var(--default-layout-horizontal-spacer);
    display: flex;
    margin-top: 80px;
}

.content {
    flex: 1;
    margin-left: 220px;
}
