.contest-title {
    color: black;
    font-size: 36px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-top: 10px;
}

.column-image {
    height: 25px;
    width: 25px;
    border-radius: 50%;
}

.table-text {
    color: #6c757d;
}

.btn-pagi {
    background-color: transparent;
}

.page-item {
    color: var(--primary) !important;
    &.active {
        color: var(--primary) !important;
    }
}

#container-form {
    max-width: 550px;
}

.progress {
    color: var(--primary) !important;
}

.step-container {
    position: relative;
    text-align: center;
    transform: translateY(-43%);
}

.step-circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #fff;
    border: 2px solid var(--primary);
    line-height: 30px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    cursor: pointer; /* Added cursor pointer */
}

.step-line {
    background-color: var(--primary) !important;
}

#multi-step-form {
    overflow-x: hidden;
}

.card-content {
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.input-image-container {
    display: flex;
    align-items: center;
}

.answer-input {
    width: 100%;
}

// .card-image {
//     width: 50px;
//     height: auto;
//     object-fit: cover;
//     padding: 0;
// }

// .bg-label-danger {
//     background-color: #ffe0db !important;
//     color: #ff3e1d !important;
// }

// .bg-label-success {
//     background-color: #e8fadf !important;
//     color: #71dd37 !important;
// }
