.contest-title {
    color: #f07b3f;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: #ffd460;
    font-family: Inter;
    font-size: 36px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-top: 10px;
}

.column-image {
    height: 25px;
    width: 25px;
    border-radius: 50%;
}

.table-text {
    color: #6c757d;
}

.btn-pagi {
    background-color: transparent;
}

.page-item {
    color: var(--primary) !important;
    &.active {
        color: var(--primary) !important;
    }
}

.bg-label-danger {
    background-color: #ffe0db !important;
    color: #ff3e1d !important;
}

.bg-label-success {
    background-color: #e8fadf !important;
    color: #71dd37 !important;
}
