.wrapper {
    --search-height: 46px;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    height: 80px;
    width: 100%;
    box-shadow: 0px 2px 2px rgb(184, 184, 184);
    background-color: white;
    display: flex;
    justify-content: center;
}

.inner {
    padding: 0 var(--default-layout-horizontal-spacer);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;
    width: 200px;
    height: 80px;
}

.logoImage {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
