$primary-color: #0e1126;
$secondary-color: #f2f3f7;
$border-color: #ebedf6;

#reference {
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.container {
    width: 100vw;
    height: 100vh;
    // background-color: $secondary-color;
    display: flex;
    justify-content: center;
    align-items: center;
}

.frame {
    min-width: 300px;
    width: 100%;
    min-height: 300px;
    height: 80%;
    background-color: white;
    border-radius: 12px;
    box-shadow: 1px 0 10px 1px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 2rem;
    overflow-y: scroll;

    header {
        font-size: 2rem;
        font-weight: bold;
        font-family: Glory, sans-serif;
    }
}

.button-group {
    display: flex;
    background-color: #f2f3f7;
    padding: 10px 50px;
    border-radius: 16px;
}

.button-group button {
    padding: 10px 20px;
    border-radius: 16px;
    margin: 0 5px;
    border: none;
    background-color: #f2f3f7;
    color: #000;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.button-group button.selected {
    background-color: var(--primary);
    color: #fff;
    transform: scale(1.05); /* Tăng kích thước nút khi được chọn */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.button-group button:hover {
    background-color: #bfbfbf;
}
