.wrapper {
    width: 220px;
    min-height: 100vh;
    position: fixed;
    z-index: 10;
    padding: 20px 8px 26px 8px;
    margin-left: -18px;
    display: flex;
    flex-direction: column;
    border-right: 2px solid rgb(184, 184, 184);
}
