.column-image {
    height: 25px;
    width: 25px;
    border-radius: 50%;
}

.table-text {
    color: #6c757d;
}

.btn-pagi {
    background-color: transparent;
}

.page-item {
    color: var(--primary) !important;
    &.active {
        color: var(--primary) !important;
    }
}
