.menu-item {
    display: flex;
    align-items: center;
    font-size: 1.8rem;
    font-weight: 700;
    padding: 8px;
    border-radius: 4px;
    transition: background-color ease-in-out 200ms;

    &.active {
        color: var(--primary) !important;
    }

    &:hover {
        background-color: rgba(22, 24, 35, 0.03);
    }
}

.title {
    margin-left: 10px;
}
.logout-item {
    width: 203px;
    border-top: 1px solid;
    position: absolute;
    bottom: 0;
    margin-bottom: 50px;
    padding-top: 10px;
}
