body {
    margin-top: 20px;
    background: #f5f7fa;
}
.card {
    border: 3px solid transparent;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    margin-bottom: 16px;
}
.rounded-circle {
    border-radius: 50%;
}
.thumb96 {
    width: 96px !important;
    height: 96px !important;
}
.thumb48 {
    width: 48px !important;
    height: 48px !important;
}
.button-details {
    width: 30px;
    height: 30px;
}
